.wrapper
  = render partial: "groups/sidebar"
  .chat
    .group
      .group__name
        sampleグループ
        %ul.members
          Member：
          = render partial: "member"
      .group__button
        = link_to "Edit", "/groups/30/edit"
    .messages
      = render partial: "messages__message"
    .form
      %form{action: "/", method: "post"}
      %input.input{type: "text",name: "title", size: "40", placeholder: "type a message"}
      .upload
        %label
          %i.fa.fa-picture-o
          %input.button{type: "file"}
      %input.send{type: "submit", value: "Send"}
