<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ChatSpace</title>
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>サイト内におけるタイトル</h1>
</header>
<div id="contents">
  <%= fa_icon "camera-retro" %>
</div>
<nav>
</nav>
<article>
  <section>
  </section>
</article>
<footer>
</footer>
</body>
</html>
