.form {
  font-size: 1.6rem;
  background-color: #aaaaaa;
  padding: 20px 40px;
  @include clearfix();
  .input {
    width: 720px;
    height: 50px;
    border: none;
    padding: 0 10px;
    color: $FontColorBlack01;
    float: left;
  }
  .upload {
    position: relative;
    width: 25px;
    padding: 13px 0;
    background-color: $ColorWhite;
    border: none;
    float: left;
    .fa-picture-o {
      cursor: pointer;
    }
    .button {
      display: none;
    }
  }
  .send {
    width: 100px;
    height: 50px;
    border: none;
    background-color: $ColorBlue;
    color: $ColorWhite;
    cursor: pointer;
    float: right;
  }
}
