.alert-notice {
  background-color: $ColorBlue;
  font-size: 1.6rem;
  color: $ColorWhite;
  text-align: center;
}
.alert-error {
  background-color: #fb5122;
  font-size: 1.6rem;
  color: $ColorWhite;
  text-align: center;
}
